body{font-family: 'Signika', sans-serif;text-align: center;width:90%;margin:0 auto;}
header{border-bottom:1px solid black;}
article{margin-bottom:40px;}
form{text-align:left;}
i{margin-right:10px;}

/* Post styling */
article.post{border-left:3px solid black;padding-left:20px;}


/* Admin Section Styling */
.admin article{
	padding:10px;
	border-top:3px solid black;
	background-color:#f4f4f4;
}
.admin aside, .admin section{
	display:inline-block;
	vertical-align: top;
}
.admin aside{
	width:37%;
	border-top:3px solid black;
	background-color:#f4f4f4;
	padding:20px;
	margin-right:2%;
}
.admin aside i{width:15px;display:inline-block;}
.admin aside a{margin-bottom:10px;}
.admin section{
	width:60%;
}

main{text-align: left;}

@media (min-width: 768px;) {
  body{width:80%;margin:0 auto;}
}

@media (min-width: 1024px;) {
  body{width:960px;margin:0 auto;}
}

@media (min-width: 1400px;) {
  body{width:1200px;margin:0 auto;}
}

/* Border box all the things for supersimple styling */

*,
*:before,
*:after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box}