body{font-family: 'Signika', sans-serif;text-align: center;width:90%;margin:0 auto;}
header{border-bottom:1px solid black;}
article{border-left:3px solid black;padding-left:20px;margin-bottom:40px;}
form{text-align:left;}

/* Form styling */


main{text-align: left;}
@media (min-width: 768px;) {
  body{width:80%;margin:0 auto;}
}

@media (min-width: 1024px;) {
  body{width:960px;margin:0 auto;}
}

@media (min-width: 1400px;) {
  body{width:1200px;margin:0 auto;}
}